/*importeren custom lego font*/
@font-face {
  font-family: 'fredoka';
  src: url('../assets/fonts/fredoka-webfont.woff2') format('woff2'),
       url('../assets/fonts/fredoka-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}






/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing: border-box;  
  cursor: pointer;
  cursor: url('../images/cursorblack.svg'), auto;
}

button:not([disabled]) {
  cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: rgb(255 255 255);
  --lego-black: rgb(21 21 21);
  --lego-white: rgb(255 255 244);
  --lego-titanium: rgb(66 66 62);

  --lego-red: rgb(214 0 38);
  --red-brick-shadow: rgba(85 1 1 / 0.3);

  --lego-yellow: rgb(247 209 18);
  --lego-dark-yellow: rgb(141 120 1);
  --lego-brick-yellow: rgb(221 196 142);

  --lego-green: rgb(0 168 79);
  --lego-dark-green: rgb(1 120 59);
  --lego-yoda-green: rgb(111 148 122);

  --lego-royal-blue: rgb(120 191 234);
  --lego-bright-blue: rgb(0 100 183);
  --lego-brown: rgb(105 46 20);
  --lego-light-brown: rgb(165 42 42);
  --lego-silver: rgb(135 141 143);
  --lego-light-gray: rgb(211 211 211);
}





/************/
/* WRAPPERS */
/************/

html {
  height:100%;
}

body {
  height:100%;
  margin: 0;

  background-color: var(--lego-royal-blue);
}

/* extra wrapper */
body > div {
  height:100%;
  width:100%;
  overflow-x: auto;

  display: grid;
  grid-template-columns: 100vw 250em; 
  /*widthreset*/
}





/********************/
/****EXTRA STYLING****/
/********************/

/*scrollbar*/
::-webkit-scrollbar {
  width: 0px;
  height: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: rgb(18 18 36);
}
::-webkit-scrollbar-thumb {
  background: var(--lego-red);
  border-radius: 0.2em;
}






/********************/
/*******HEADER*******/
/********************/
header {
  background-color: var(--lego-yellow);

  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}


/*lego logo*/
/***********/
h1 {
  position:relative;
  z-index: 0;
  
  aspect-ratio: 1 / 1;
  max-height: 5em;

  grid-area: 1/1/3/2;

  display: grid;
  place-content: center;
 
  background: var(--lego-red);

  font-size: 2.5em;
  font-family: 'fredoka', 'Arial Black', 'Helvetica';
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  -webkit-text-stroke: 0.15em var(--lego-yellow); 
}

h1:before {
  content: attr(title);

  position: absolute;
  inset:0;

  display: grid;
  place-content: center;

  color: var(--color-text);
  -webkit-text-stroke: 0.08em var(--lego-black);
}

/*kleine toelichting*/
header p {
  font-family: fredoka;
  color: var(--lego-black);
  grid-row-start: 2;
  grid-column-start:1;
}






/********************/
/*******MAIN*********/
/********************/
main {
  position: relative;
  width: 100%; /*widthreset*/
  display: flex;
  align-items: end;

  background-color: var(--lego-royal-blue);
  background-image: url("../images/legowhiteprint.png");
  background-blend-mode: darken;
}

/*Lego trap*/
/***********/
ul:first-of-type {
  margin: 0;
  padding: 0;
  list-style: none;

  width:100%; /*widthreset*/
  flex-grow:1;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(5, 4em);
}

/* nopjes */
ul:first-of-type li {
  --nop-dark: rgb(154 0 29);
  position: relative;
  background-color: var(--lego-red);
  box-shadow: inset -0.15em -0.15em 0.25em rgba(85, 1, 1, 0.3);

  display: grid;
  place-content:center;
}

ul:first-of-type li:hover, 
ul:first-of-type li.change {
  --lego-red: var(--lego-yellow);
  --nop-dark: var(--lego-dark-yellow);
}

/* blokjes nopjes */
ul:first-of-type li:nth-of-type(1)::before, 
ul:first-of-type li:nth-of-type(2)::before, 
ul:first-of-type li:nth-of-type(3)::before, 
ul:first-of-type li:nth-of-type(4)::before,
ul:first-of-type li:nth-of-type(5)::before, 
ul:first-of-type li:nth-of-type(6)::before, 
ul:first-of-type li:nth-of-type(7)::before, 
ul:first-of-type li:nth-of-type(8)::before,
ul:first-of-type li:nth-of-type(13)::before, 
ul:first-of-type li:nth-of-type(14)::before, 
ul:first-of-type li:nth-of-type(15)::before, 
ul:first-of-type li:nth-of-type(16)::before,
ul:first-of-type li:nth-of-type(25)::before,
ul:first-of-type li:nth-of-type(26)::before, 
ul:first-of-type li:nth-of-type(27)::before,
ul:first-of-type li:nth-of-type(28)::before,
ul:first-of-type li:nth-of-type(41)::before,
ul:first-of-type li:nth-of-type(42)::before,
ul:first-of-type li:nth-of-type(43)::before,
ul:first-of-type li:nth-of-type(44)::before {
  content:"";
  position:absolute;
  left:0;
  right:0;
  bottom:100%;
  height:.5em;

  background-image: linear-gradient(
    to right,
    transparent 30%,
    var(--nop-dark) 30%,
    var(--lego-red) 40%,
    var(--nop-dark) 70%, 
    transparent 70%
  ); /*make var*/
  background-size: 25% 100%;
  background-repeat: repeat-x;
}


ul:first-of-type li:first-of-type {
  grid-column-start: 17;
}
ul:first-of-type li:nth-of-type(5) {
  grid-column-start: 13;
}
ul:first-of-type li:nth-of-type(13) {
  grid-column-start: 9;
}
ul:first-of-type li:nth-of-type(25) {
  grid-column-start: 5;
}


h2 {
  margin:0;
  color: var(--lego-white);
  font-family: fredoka;
  font-style: italic;
  -webkit-text-stroke: 0.08em var(--lego-black);
}




/*****************/
/*lego poppetje 1*/
/*****************/

/* popje + blokje container */
main section {
  position: absolute;
  display: flex;
}

main section:first-of-type {
  /* een rode steen */
  left: 12.5em;
  bottom: 4em;
}

/* hele poppetje */
main section:nth-of-type(1) > button,
main section:nth-of-type(2) > button,
main section:nth-of-type(3) > button,
main section:nth-of-type(4) > button,
main section:nth-of-type(5) > button {
  /* een halve rode steen */
  width:12.5em;
  padding:0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  border: none;
  background: none;

  font-size:1em;
}

/* pet */
section:first-of-type button div:first-of-type,
section:nth-of-type(2) button>div:first-of-type {
  z-index: 1;
 
  width: 5.8em;
  aspect-ratio: 2 / 1;

  background-color: var(--lego-white);
  border-top: 0.25em solid var(--lego-white);
  border-bottom: 0.5em solid var(--lego-white);
  border-radius: 0.6em 0.6em 0em 0em;
  box-shadow: inset 0.1em 0.15em 0.45em var(--lego-light-gray);

  clip-path: polygon(0 0%, 100% 0%, 93% 61%, 100% 100%, 0 100%, 6% 61%);
}

/* hoofd */
section:first-of-type button div:nth-of-type(2),
section:nth-of-type(2) button>div:nth-of-type(2),
section:nth-of-type(3) button>div:nth-of-type(2),
section:nth-of-type(4) button>div:nth-of-type(2) {
  width: 4.5em;
  aspect-ratio: 1 / 1;
  margin-top: -1.8em;

  background-color: var(--lego-yellow);
  border-radius: 1em;
  box-shadow: inset 0.1em 0.5em 0.5em 0.15em var(--lego-dark-yellow);
}

/* nek */
section:first-of-type button div:nth-of-type(3),
section:nth-of-type(2) button>div:nth-of-type(3),
section:nth-of-type(3) button>div:nth-of-type(3),
section:nth-of-type(4) button>div:nth-of-type(3) {
  width: 2.8em;
  aspect-ratio: 5 / 1;
  
  background-color: var(--lego-yellow);
  box-shadow: inset 0em 0.1em 0.2em var(--lego-dark-yellow);
}

/* torso */
section:first-of-type button div:nth-of-type(4) {
  width: 6em;
  aspect-ratio: 4/3;

  background-color: var(--lego-black);
  border-radius: 0.8em 0.8em 0em 0em;
  border-right: 0.4em solid var(--lego-titanium);
  border-left: 0.4em solid var(--lego-titanium);
  box-shadow: inset 0.2em 0.3em 0.8em var(--lego-titanium);

  clip-path: polygon(0 0, 100% 0, 94% 62%, 100% 100%, 0 100%, 6% 62%);
}

/* riem */
section:first-of-type button div:nth-of-type(5) {
  width: 6em;
  aspect-ratio: 5 / 1;
  
  background-color: var(--lego-white);
  box-shadow: inset 0.3em 0.2em 0.3em var(--lego-light-gray);
}

/* benen */
section:first-of-type button div:nth-of-type(6) {
  width: 6em;
  aspect-ratio: 4/3;

  background-color: var(--lego-black);
  box-shadow: inset 0.5em 0.3em 0.5em var(--lego-titanium);
  
  clip-path: polygon(0 0, 100% 0, 88% 100%, 12% 100%);
}

/* voeten */
section:first-of-type button div:nth-of-type(7) {
  width: 6em;
  aspect-ratio: 5 / 1;
  
  background-color: var(--lego-black);
  box-shadow: inset 0.1em 0.08em 0.4em var(--lego-titanium);
}

/* torso, benen en voeten */
section:first-of-type button div:nth-of-type(4).click,
section:first-of-type button div:nth-of-type(6).click,
section:first-of-type button div:nth-of-type(7).click {
  background-color: var(--lego-green);
}

/* hele popje */
section:first-of-type > button:focus {
  outline: none;
  background: radial-gradient(circle, var(--lego-white) 0%, rgba(255,255,255,0) 60%);
}

section:first-of-type> button:hover,
section:first-of-type> button:focus{
  transform-origin: 3.125em bottom;
  animation: wiggle 0.8s linear infinite;
}





/***************/
/*lego blokje 1*/
/***************/

section:first-of-type article,
section:nth-of-type(2) article {
  position: absolute;
  left: 15.275em;
  bottom: 0em;

  height: 14em;
  aspect-ratio: 2 / 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  
  background-color: var(--lego-green);
  border: inset 1em;
  border-top: inset 0.5em;
  border-right: inset 1em;
  border-color: var(--lego-dark-green);
  border-left-color: var(--lego-green);
  border-top-color: var(--lego-green);

  box-shadow: inset 0.5em 0.5em 1em 0.5em var(--lego-dark-green);

  clip-path: polygon(45% 0, 0 0, 0 100%, 42% 100%, 47% 93%, 57% 93%, 52% 100%, 100% 100%, 100% 0, 55% 0, 55% 4%, 45% 4%);

  transform-origin: bottom right;
}

/* een article heeft geen focus */
section:first-of-type article:hover,
section:first-of-type article:focus { 
  animation: rotate 1s linear;
  animation-fill-mode: forwards;
}





/*****************/
/*lego poppetje 2*/
/*****************/

/* popje + blokje container */
section:nth-of-type(2) {
  left: 62.5em;
  bottom: 8em;
}

/* pet */
section:nth-of-type(2) button>div:first-of-type {
  background-color: var(--lego-black);
  border-top: 0.25em solid var(--lego-black);
  border-bottom: 0.5em solid var(--lego-black);
  box-shadow: inset 0.5em 0.3em 0.45em var(--lego-titanium);
}

/* gezicht */
section:nth-of-type(2) button>div:nth-of-type(2),
section:nth-of-type(3) button>div:nth-of-type(2),
section:nth-of-type(4) button>div:nth-of-type(2) {
  display: flex;
  justify-content: center;
}

/* ogen */
section:nth-of-type(2) button>div:nth-of-type(2) div:first-of-type,
section:nth-of-type(2) button>div:nth-of-type(2) div:nth-of-type(3),
section:nth-of-type(3) button>div:nth-of-type(2) div:nth-of-type(2),
section:nth-of-type(4) button>div:nth-of-type(2) div:first-of-type,
section:nth-of-type(4) button>div:nth-of-type(2) div:nth-of-type(3) {
  width: 0.6em;
  height: 0.6em;
  margin: 2.2em 0em 0em 0em;

  background-color: var(--lego-black);
  border-radius: .3em;
}

/* mond */
section:nth-of-type(2) button>div:nth-of-type(2) div:nth-of-type(2),
section:nth-of-type(3) button>div:nth-of-type(2) div:nth-of-type(3),
section:nth-of-type(4) button>div:nth-of-type(2) div:nth-of-type(2) {
  width: 1.1em;
  height: 0.9em;
  margin: 2.8em 0em 0em 0em;

  border-bottom: 0.2em solid var(--lego-black);
  border-radius: 1.4em;
}

/* armen en torso */
section:nth-of-type(2) button>div:nth-of-type(4),
section:nth-of-type(3) button>div:nth-of-type(5),
section:nth-of-type(4) button>div:nth-of-type(4),
section:nth-of-type(5) button>div:nth-of-type(2) { 
  display: flex;
}

/* torso */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(2),
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(2),
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(2),
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(2) { 
  width: 6em;
  height: 5em;
  
  background-color: var(--lego-black);

  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);

  box-shadow: inset 0.6em 0.3em 0.5em var(--lego-titanium);

  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* knoopjes */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(2) div { 
  background-color: var(--lego-white);

  width: 0.5em;
  border-radius: 0.5em;
  aspect-ratio: 1 / 1;
}

/* badge */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(2) div:first-of-type { 
  background-color: var(--lego-white);

  position: absolute;

  z-index: 3;
  margin: -1.8em 0em 0em 2.2em;

  clip-path: polygon(50% 0%, 64% 25%, 100% 16%, 89% 55%, 100% 85%, 50% 100%, 0 85%, 11% 55%, 0 16%, 34% 25%);

  width: 1em;
  border-radius: 0.3em;
  aspect-ratio: 1 / 1;
}

/* arm en hand */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(1),
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(3),
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(1),
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(3),
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(1),
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(3),
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(1),
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(3) { 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

 /* arm en hand rechts */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(3),
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(3),
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(3),
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(3) {
  align-items: flex-start;
}

/* arm links */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(1) div:first-of-type, 
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(1) div:first-of-type,
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(1) div:first-of-type,
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(1) div:first-of-type { 
  width: 4em;
  height: 3.5em;
  margin: 0em -0.7em 0em 0em;

  background-color: var(--lego-black);

  clip-path: polygon(100% 0%, 80% 3%, 72% 10%, 57% 47%, 60% 100%, 93% 100%, 90% 57%, 100% 23%);

  transform: rotate(12deg);

  box-shadow: inset 2.6em 0.5em 0.8em 0.1em var(--lego-titanium);
}

/* handje links en rechts */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(1) div:nth-of-type(2),
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(3) div:nth-of-type(2),
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(1) div:nth-of-type(2),
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(1) div:nth-of-type(2),
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(3) div:nth-of-type(2),
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(1) div:nth-of-type(2),
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(3) div:nth-of-type(2) { 
  width: 1.8em;
  height: 1.3em;
  margin-right: -0.2em;
  margin-top: 0.1em;

  border-top: 0.5em solid var(--lego-yellow);
  border-left: 0.5em solid var(--lego-yellow);
  border-right: 0.5em solid var(--lego-yellow);
  border-radius: 10em;

  box-shadow:  inset 0.3em 0.08em 0.4em var(--lego-silver);
  transform: rotate(10deg);
}

/* arm rechts */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(3) div:first-of-type, 
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(3) div:first-of-type,
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(3) div:first-of-type,
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(3) div:first-of-type { 
  background-color: var(--lego-black);

  clip-path: polygon(0% 0%, 20% 3%, 28% 10%, 47% 47%, 40% 100%, 7% 100%, 10% 57%, 0% 23%);

  width: 4em;
  height: 3.5em;

  margin: 0em 0em 0em -0.8em;

  transform: rotate(-12deg); /*anders*/

  box-shadow: inset -2.2em 0.3em 0.7em 0.1em var(--lego-titanium);
}

/* handje rechts */
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(3) div:nth-of-type(2),
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(3) div:nth-of-type(2) { 
  margin-top: 0.1em;
  margin-left: -0.2em;

  transform: rotate(-10deg);
  margin: 0.1em 0em -2em -0.1em;
}

/* riem */
section:nth-of-type(2) button>div:nth-of-type(5),
section:nth-of-type(3) button>div:nth-of-type(6),
section:nth-of-type(4) button>div:nth-of-type(5) { 
  background-color: var(--lego-black);

  border-top: 0.3em solid var(--lego-black);

  aspect-ratio: 6 / 1;
  width: 6em;

  box-shadow: inset 0.3em 0.2em 0.3em var(--lego-titanium);
}

/* benen */
section:nth-of-type(2) button>div:nth-of-type(6),
section:nth-of-type(3) button>div:nth-of-type(7),
section:nth-of-type(4) button>div:nth-of-type(6),
section:nth-of-type(5) button>div:nth-of-type(3) { 
  border-top: 1.5em solid var(--lego-black);

  margin-top: 0em;

  width: 6em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 1 been */
section:nth-of-type(2) button>div:nth-of-type(6) div:first-of-type, 
section:nth-of-type(2) button>div:nth-of-type(6) div:nth-of-type(2),
section:nth-of-type(3) button>div:nth-of-type(7) div:nth-of-type(2),
section:nth-of-type(4) button>div:nth-of-type(6) div:first-of-type,
section:nth-of-type(4) button>div:nth-of-type(6) div:nth-of-type(2) {
  background-color: var(--lego-black);

  width: 2.8em;
  height: 3.8em;

  border-bottom: 0.8em solid var(--lego-black);

  box-shadow: inset 0.3em 0.05em 0.3em var(--lego-titanium);
}




/***************/
/*lego blokje 2*/
/***************/

section:nth-of-type(2) article {
  left: 15.275em;

  background-color: var(--lego-green);
  border: inset 1em;
  border-top: inset 0.5em;
  border-right: inset 1em;
  border-color: var(--lego-dark-green);
  border-left-color: var(--lego-green);
  border-top-color: var(--lego-green);
  /* outline: 0.5em solid var(--lego-green); */
  box-shadow: inset 0.5em 0.5em 1em 0.5em var(--lego-dark-green);

  clip-path: none
}






/***************/
/*lego poppetje 3*/
/***************/

/* popje + blokje container */
section:nth-of-type(3) {
  left: 112.5em;
  bottom: 12em;
}

/* pet */
section:nth-of-type(3) button>div:first-of-type {
  background-color: var(--lego-black);

  z-index: 1;
  width: 9em;
  aspect-ratio: 1 / 1;

  clip-path: polygon(0 100%, 0 90%, 20% 80%, 32% 56%, 50% 50%, 69% 56%, 80% 81%, 100% 90%, 100% 100%);

  box-shadow: inset 0.1em 0.15em 0.45em var(--lego-silver);
}

/* pet skull */
section:nth-of-type(3) button>div:first-of-type img {
  width: 3em;
  aspect-ratio: 1/1;

  margin-top: 5.5em;
}

/* oog-lapje lapje */
section:nth-of-type(3) button>div:nth-of-type(2) div:nth-of-type(4) {
  width: 1.1em;
  height: 0.9em;
  margin: 2.1em 0em 0em 0em;

  border-radius: 0.1em;

  background-color: var(--lego-black);
}

/* oog-lapje touw */
section:nth-of-type(3) button>div:nth-of-type(2) div:nth-of-type(5) {
  position: absolute;
  width: 3em;
  height: 1.8em;
  margin: 1.5em 0em 0em 1.5em;

  background-color: var(--lego-black);

  clip-path: polygon(0 0, 45% 50%, 100% 50%, 100% 35%, 54% 35%, 21% 0);
}

/* snor */
section:nth-of-type(3) button>div:nth-of-type(2) div:nth-of-type(6) {
  position: absolute;
  width: 1em;
  height: 1em;
  margin: 3.1em 2.5em 0em 0em;
}

section:nth-of-type(3) button>div:nth-of-type(2) div:nth-of-type(6) img {
  width: 3.2em;
}

/* baard */
section:nth-of-type(3) button>div:nth-of-type(2) div:nth-of-type(7) {
  position: absolute;
  width: 1em;
  height: 1em;
  margin: 3em 3.2em 0em 0em;
}

section:nth-of-type(3) button>div:nth-of-type(2) div:nth-of-type(7) img {
  width: 4.2em;
  height: 1.5em;
}

/* schouder koortjes */
section:nth-of-type(3) button>div:nth-of-type(4) {
  width: 7.5em;
  height: 5em;

  background: repeating-linear-gradient(90deg, var(--lego-black), var(--lego-black) 0.1em, var(--lego-brown) 0em, var(--lego-light-brown) 0.5em );
  border-top: 0.2em solid var(--lego-black);

  clip-path: polygon(0 25%, 22% 21%, 22% 8%, 78% 8%, 78% 21%, 100% 25%, 100% 0, 0 0);

  z-index: 2;

  margin-bottom: -5em;
}

/* torso sticker */
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(2) img {
  width: 5em;
}

/* handje rechts, haak */
section:nth-of-type(3) button>div:nth-of-type(5)>div:nth-of-type(3) div:nth-of-type(2) { 
  width: 1.6em;
  height: 1.8em;

  border: 0.4em solid var(--lego-silver);
  border-left: none;
  border-radius: 3em;
  
  margin: 0em 0em -0.3em 0.1em;

  box-shadow: inset 0em 0.15em 0.3em var(--lego-black);
}

/* riem sticker */
section:nth-of-type(3) button>div:nth-of-type(6) img{
  width: 5.8em;
}

/* houten been */
section:nth-of-type(3) button>div:nth-of-type(7) div:first-of-type {
  background-color: var(--lego-brown);

  clip-path: polygon(0 100%, 100% 100%, 100% 79%, 67% 79%, 75% 28%, 100% 28%, 100% 0%, 0% 0%, 0 28%, 25% 28%, 33% 79%, 0 79%);

  width: 2.8em;
  height: 5.3em;

  margin-top: -1.5em;

  border-bottom: 0.9em solid var(--lego-brown);

  box-shadow: inset 0.5em 0.4em 0.8em var(--lego-titanium);
}




/***************/
/*lego poppetje 4*/
/***************/

/* popje + blokje container */
section:nth-of-type(4) {
  left: 162.5em;
  bottom: 16em;
}

/* hele hoed */
section:nth-of-type(4) button>div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* hoed punt */
section:nth-of-type(4) button>div:first-of-type>div:first-of-type{
  background-color: var(--lego-bright-blue);

  box-shadow: inset 0.5em -0.4em 2em var(--lego-titanium);

  width: 5.5em;
  aspect-ratio: 3 / 4;

  clip-path: polygon(0 100%, 0 90%, 5% 88%, 39% 3%, 50% 0, 61% 3%, 95% 88%, 100% 90%, 100% 100%);

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* hoed punt clip */
section:nth-of-type(4) button>div:first-of-type div:first-of-type div{
  background-color: var(--lego-bright-blue);

  box-shadow: inset 0.05em 0.02em 0.2em var(--lego-white);

  width: 5.5em;
  height: 0.75em;

  border-left: 2.3em solid var(--lego-bright-blue);
  border-right: 2.3em solid var(--lego-bright-blue);
}

/* hoed rand */
section:nth-of-type(4) button>div:first-of-type div:nth-of-type(2) {
  background-color: var(--lego-bright-blue);

  box-shadow: inset 0.2em 0.05em 0.5em var(--lego-titanium);

  z-index: 1;
  width: 8em;
  aspect-ratio: 8 / 1;

  border-radius: 5em;
}

/* bakkenbaarden */
section:nth-of-type(4) button>div:nth-of-type(2) div:nth-of-type(4) {
  position: absolute;

  background: repeating-linear-gradient(90deg, var(--lego-white), var(--lego-light-gray) 0.2em, var(--lego-white) 0.3em, var(--lego-white) 0.3em );

  width: 5.5em;
  height: 2.8em;
  
  margin-top: 2em;

  clip-path: polygon(6% 5%, 10% 0, 15% 0, 17% 6%, 17% 54%, 19% 61%, 81% 61%, 83% 54%, 83% 6%, 85% 0, 90% 0, 94% 5%, 97% 76%, 50% 100%, 4% 76%);
}

/* baard */
section:nth-of-type(4) button>div:nth-of-type(2) div:nth-of-type(5) {
  position: absolute;
  background-color: var(--lego-white);
  background: radial-gradient(ellipse at bottom, var(--lego-white) 0%, var(--lego-white) 31%, var(--lego-white) 35%, var(--lego-white) 42%, var(--lego-light-gray) 51%, var(--lego-white) 55%, var(--lego-white) 61%, var(--lego-light-gray) 69%, var(--lego-white) 73%, var(--lego-white) 100%);

  width: 4em;
  height: 6em;

  margin-top: 3.1em;
  border-radius: 1em;
  z-index: 2;

  clip-path: polygon(14% 0, 39% 0, 50% 1%, 61% 0, 86% 0, 100% 7%, 100% 24%, 97% 39%, 90% 40%, 96% 60%, 82% 62%, 87% 73%, 100% 94%, 100% 100%, 70% 100%, 60% 95%, 50% 90%, 40% 95%, 30% 100%, 0 100%, 0 94%, 13% 73%, 18% 62%, 4% 60%, 10% 40%, 3% 39%, 0 25%, 0 7%);
}

/* torso */
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(2) {
  background-color: var(--lego-bright-blue);

  box-shadow: inset 0.6em 0.3em 0.5em var(--lego-titanium);
}

/* arm links en rechts */
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(1) div:first-of-type,
section:nth-of-type(4) button>div:nth-of-type(4)>div:nth-of-type(3) div:first-of-type {
  background-color: var(--lego-bright-blue);
}

/* riem en 1 been */
section:nth-of-type(4) button>div:nth-of-type(6) div:first-of-type,
section:nth-of-type(4) button>div:nth-of-type(6) div:nth-of-type(2) {
  background-color: var(--lego-bright-blue);

  border-color: var(--lego-bright-blue);
}

/* benen */
section:nth-of-type(4) button>div:nth-of-type(6) {
  border-color: var(--lego-bright-blue);
}





/***************/
/*lego poppetje 5*/
/***************/

/* popje + blokje container */
section:nth-of-type(5) {
  left: 212.5em;
  bottom: 20em;
}

/* hoofd */
section:nth-of-type(5) button>div:first-of-type img {
  width: 10em;

  margin-bottom: -0.5em;
}

/* torso */
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(2) {
  background-color: var(--lego-brick-yellow);

  box-shadow: inset 0.6em 0.3em 0.5em var(--lego-silver);
}

/* arm links */
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(1) div:first-of-type {
  background-color: var(--lego-brick-yellow);

  box-shadow: inset 2.6em 0.5em 0.8em 0.1em var(--lego-silver);
}

/* arm rechts */
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(3) div:first-of-type {
  background-color: var(--lego-brick-yellow);

  box-shadow: inset -2.2em 0.3em 0.7em 0.1em var(--lego-silver);
}

/* handjes */
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(1) div:nth-of-type(2),
section:nth-of-type(5) button>div:nth-of-type(2)>div:nth-of-type(3) div:nth-of-type(2) {
  border-color: var(--lego-yoda-green);
}

/* benen */
section:nth-of-type(5) button>div:nth-of-type(3) {
  border-color: var(--lego-brick-yellow);

  border-top: 1em solid var(--lego-brick-yellow);
}

/* 1 been */
section:nth-of-type(5) button>div:nth-of-type(3) div:first-of-type,
section:nth-of-type(5) button>div:nth-of-type(3) div:nth-of-type(2) {
  background-color: var(--lego-brick-yellow);

  width: 2.8em;
  height: 2.6em;

  border-bottom: 0.8em solid var(--lego-brick-yellow);

  box-shadow: inset 0.3em 0.05em 0.3em var(--lego-silver);
}


/********************/
/****ANIMATIES******/
/********************/

/* poppetje1 */
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  /* 25% {
    transform: rotate(-5deg);
  } */
  50% {
    transform: rotate(-10deg);
  }
  /* 75% {
    transform: rotate(-5deg);
  } */
  100% {
    transform: rotate(0deg);
  }
}



/* blokje1 */
@keyframes rotate {
  0% {
    transform: rotate3d(0);
    height: 14em;
  }
  50% {
    transform: rotate3d(1, 1, 1, 45deg);
  }
  100% {
    height: 25em;
    border: inset 2.5em;
    border-top: inset 1em;
    border-right: inset 2em;

    border-color: var(--lego-dark-green);
    border-left-color: var(--lego-green);
    border-top-color: var(--lego-green);

    clip-path: polygon(45% 0, 0 0, 0 100%, 42% 100%, 47% 90%, 57% 90%, 52% 100%, 100% 100%, 100% 0, 55% 0, 55% 4%, 45% 4%);
  }
}

/********************/
/*******MEDIA********/
/********************/

/*darkmode*/
@media (prefers-color-scheme: dark) {
  
  /*verander cursor*/
  *, *::after, *::before {
    cursor: url('../images/cursorwhite.svg'), auto;
  }

  /*Verander achtegrond*/
  main {
    background-image: url("../images/legoblueprint.jpeg");
  }
  header {
    background-color: rgb(18 18 36);
  }

  /*Verander tekst*/
  header p {
    color: var(--color-text);
  }
}