/*importeren custom lego font*/
@font-face {
  font-family: 'fredoka';
  src: url('/assets/fonts/fredoka-webfont.woff2') format('woff2'),
       url('/assets/fonts/fredoka-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
/* @font-face {
  font-family: legofont;
  src: url(/assets/legofont.ttf);
  font-weight: initial;
  font-style: normal;
} */
/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing: border-box;  
}
html {
  overflow-y: none;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: 100vw 250em; /*widthreset*/
  grid-template-rows: 100vh;
  background-color: var(--lego-royal-blue);
}

button:not([disabled]) {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: rgb(255 255 255);
  --lego-black: rgb(21 21 21);
  --lego-red: rgb(214 0 38);
  --lego-white: rgb(255 255 244);
  --lego-yellow: rgb(247 209 18);
  --lego-green: rgb(0 168 79);
  --lego-dark-green: rgb(1 120 59);
  --red-brick-shadow: rgba(85 1 1 / 0.3);
  --lego-royal-blue: rgb(120 191 234);
}

/********************/
/****EXTRA STYLING****/
/********************/

/*scrollbar*/
::-webkit-scrollbar {
  width: 0px;
  height: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: rgb(18 18 36);
}
::-webkit-scrollbar-thumb {
  background: rgb(255 0 0);
  border-radius: 0.2em;
}

/********************/
/*******HEADER*******/
/********************/
header {
  width: 100vw;
  height: 100vh;
  background-color: rgb(18 18 36);

  grid-column: 1;
  grid-row: 1;

  display: grid;
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: 1fr;
  place-items: center;
}

/* h1, .linetwo {
  font-family: fredoka;
  color: var(--color-headings);
  background: transparent;

  Will override color (regardless of order) 
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
  width: 5em;
  height: 5em;
  margin: 0em;

  display: grid;
  place-content: center;

  text-align: center;
  font-size: 4em;
  font-style: italic; 
  text-transform: uppercase;
  letter-spacing: -0.05em;
  text-shadow: 
  0.07em 0.03em 0.01em rgb(242, 255, 0),
  0.03em 0.07em 0.01em rgb(242, 255, 0),
  -0.07em 0.03em 0.01em rgb(242, 255, 0),
  0.03em -0.07em 0.01em rgb(242, 255, 0); 

  z-index: 0;

}
h1:before,.linetwo:before {
  -webkit-text-stroke: 5px black;
  z-index: -1;
}
.linetwo:after {
  -webkit-text-stroke: 15px yellow;
  z-index: -2;
  background-color: red;
} */

/*lego logo*/
/***********/
h1 {
  font-family: 'fredoka', 'Arial Black', 'Helvetica';
  color: var(--color-text);
  position: absolute;
  text-align: center;
  aspect-ratio: 1 / 1;
  max-height: 5em;

  z-index: 0;
  font-size: 2.5em;
  
  font-style: italic;
  text-transform: uppercase;
  display: grid;
  place-content: center;
  -webkit-text-stroke: 0.08em var(--lego-black);
}

h1:before {
  content: attr(title);
  position: absolute;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  -webkit-text-stroke: 0.15em rgb(255 255 0); 
  background: var(--lego-red);

  z-index: -1;
}
/*kleine toelichting*/
header p {
  font-family: fredoka;
  color: var(--color-text);
  grid-row: 2;
}

/********************/
/*******MAIN*********/
/********************/
main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  grid-column: 2;
  grid-row: 1;

  width: 250em; /*widthreset*/
}
h2 {
  color: var(--lego-white);
  display: flex;
  justify-content: center;

  font-family: fredoka;
  font-style: italic;
  -webkit-text-stroke: 0.08em var(--lego-black);
}

/*Lego trap*/
/***********/
ul:first-of-type {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column: 2;
  width: 250em; /*widthreset*/
  height: 50vh;

  display: grid;
  grid-template-columns: 
  1fr 1fr 1fr 1fr 1fr 
  1fr 1fr 1fr 1fr 1fr 
  1fr 1fr 1fr 1fr 1fr 
  1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 
  1fr 1fr 1fr 1fr 1fr;

  position: absolute;
  bottom: -0.5em;
  z-index: 0;
}
ul:first-of-type li{
  background-color: var(--lego-red);
  box-shadow: inset -0.15em -0.15em 0.25em rgba(85, 1, 1, 0.3);
}
ul:first-of-type li:first-of-type, ul:first-of-type li:nth-of-type(2), ul:first-of-type li:nth-of-type(3), ul:first-of-type li:nth-of-type(4),
ul:first-of-type li:nth-of-type(5), ul:first-of-type li:nth-of-type(6), ul:first-of-type li:nth-of-type(7), ul:first-of-type li:nth-of-type(8),
ul:first-of-type li:nth-of-type(13), ul:first-of-type li:nth-of-type(14), ul:first-of-type li:nth-of-type(15), ul:first-of-type li:nth-of-type(16),
ul:first-of-type li:nth-of-type(25), ul:first-of-type li:nth-of-type(26), ul:first-of-type li:nth-of-type(27), ul:first-of-type li:nth-of-type(28),
ul:first-of-type li:nth-of-type(41), ul:first-of-type li:nth-of-type(42), ul:first-of-type li:nth-of-type(43), ul:first-of-type li:nth-of-type(44) {
  background-image: linear-gradient(to right,var(--lego-royal-blue) 1.8em, var(--lego-red) 0em); /*make var*/
  background-position: top;
  background-size: 2.95em 0.5em;
  background-repeat: repeat-x;
}
ul:first-of-type li:first-of-type {
  grid-column-start: 17;
}
ul:first-of-type li:nth-of-type(5) {
  grid-column-start: 13;
}
ul:first-of-type li:nth-of-type(13) {
  grid-column-start: 9;
}
ul:first-of-type li:nth-of-type(25) {
  grid-column-start: 5;
}

/*lego poppetje 1*/
/*****************/
section {
  display: flex;
  flex-direction: row;

  margin-left: 12em;
  position: absolute;
}

section:first-of-type {
  bottom: 2.5em;
}
section:first-of-type>button, section:nth-of-type(2)>button {
  border: none;
  background: none;
  display: flex;
  flex-direction: column;

  padding: 1em 5em 1em 5em;

  align-items: center;
}

section:first-of-type button div:first-of-type, section:nth-of-type(2) button>div:first-of-type {
  background-color: var(--lego-white);
  aspect-ratio: 2 / 1;
  width: 5.8em;

  border-radius: 0.6em 0.6em 0em 0em;
  clip-path: polygon(0 0%, 100% 0%, 93% 61%, 100% 100%, 0 100%, 6% 61%);
  border-top: 0.25em solid var(--lego-white);
  border-bottom: 0.5em solid var(--lego-white);
  box-shadow: inset 0.1em 0.15em 0.45em rgb(171 171 171);
  z-index: 1;
}
section:first-of-type button div:nth-of-type(2), section:nth-of-type(2) button>div:nth-of-type(2){
  background-color: var(--lego-yellow);
  aspect-ratio: 1 / 1;
  width: 4.5em;

  margin-top: -1.8em;
  border-radius: 1em;

  box-shadow: inset 0.1em 0.5em 0.8em rgb(120 116 33);
}
section:first-of-type button div:nth-of-type(3), section:nth-of-type(2) button>div:nth-of-type(3){
  background-color: var(--lego-yellow);
  aspect-ratio: 3 / 1;
  width: 2.8em;

  box-shadow: inset 0em 0.1em 0.2em rgb(80 75 0);
}
section:first-of-type button div:nth-of-type(4) {
  background-color: rgb(0 0 0);
  height: 4.5em;
  width: 6em;

  border-radius: 0.8em 0.8em 0em 0em;
  /* border-image: linear-gradient(to bottom,rgb(255 255 255), rgb(0 0 0)) 1 20%; */
  border-right: 0.4em solid rgba(61 61 61 / 0.58);
  border-left: 0.4em solid rgba(61 61 61 / 0.58);
  clip-path: polygon(0 0, 100% 0, 94% 62%, 100% 100%, 0 100%, 6% 62%);

  box-shadow: inset 0.2em 0.3em 0.8em rgba(114 114 114 / 0.522);
}
section:first-of-type button div:nth-of-type(5) {
  background-color: var(--lego-white);
  aspect-ratio: 5 / 1;
  width: 6em;

  box-shadow: inset 0.3em 0.2em 0.3em rgb(171 171 171);
}
section:first-of-type button div:nth-of-type(6) {
  background-color: rgb(0 0 0);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 12% 100%);
  height: 4.5em;
  width: 6em;

  box-shadow: inset 0.5em 0.3em 0.5em rgba(114 114 114 / 0.522);
}
section:first-of-type button div:nth-of-type(7) {
  background-color: rgb(0 0 0);
  aspect-ratio: 5 / 1;
  width: 6em;

  box-shadow: inset 0.1em 0.08em 0.4em rgba(114 114 114 / 0.522);
}

section:first-of-type button div:nth-of-type(4).click, section:first-of-type button div:nth-of-type(6).click, section:first-of-type button div:nth-of-type(7).click {
  background-color: var(--lego-green);
}
section:first-of-type> button:focus {
  outline: none;
  background: radial-gradient(circle, var(--lego-white) 0%, rgba(255,255,255,0) 60%);
}
section:first-of-type> button:hover, section:first-of-type> button:focus{
  transform-origin: bottom left;
  animation: wiggle 0.8s linear infinite;
}

/*lego blokje 1*/
/***************/
section:first-of-type article {
  box-shadow: inset 0.5em 0.5em 1em 0.5em var(--lego-dark-green);
  background-color: var(--lego-green);
  clip-path: polygon(45% 0, 0 0, 0 100%, 42% 100%, 47% 93%, 57% 93%, 52% 100%, 100% 100%, 100% 0, 55% 0, 55% 4%, 45% 4%);

  height: 14em;
  aspect-ratio: 2 / 4;

  border: inset 1em;
  border-top: inset 0.5em;
  border-right: inset 1em;
  border-color: var(--lego-dark-green);
  border-left-color: var(--lego-green);
  border-top-color: var(--lego-green);
  /* outline: 0.5em solid var(--lego-green); */

  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;

  margin-left: 15.3em;
  position: absolute;
  bottom: 1em;
}
section:first-of-type article:hover, section:first-of-type article:focus { 
  animation: rotate 1s linear;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}

/*lego poppetje 2*/
/*****************/
section:nth-of-type(2) {
  bottom: 8em;
  margin-left: 70em;
}
section:nth-of-type(2) button>div:first-of-type {
  background-color: var(--lego-black);
  border-top: 0.25em solid var(--lego-black);
  border-bottom: 0.5em solid var(--lego-black);
  box-shadow: inset 0.1em 0.15em 0.45em rgb(171 171 171);
}
section:nth-of-type(2) button>div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section:nth-of-type(2) button>div:nth-of-type(2) div:nth-of-type(1), section:nth-of-type(2) button>div:nth-of-type(2) div:nth-of-type(3) {
  background-color: var(--lego-black);
  width: 0.6em;
  height: 0.6em;
  border-radius: 1em;

  margin: 2.2em 0em 0em 0em;
}
section:nth-of-type(2) button>div:nth-of-type(2) div:nth-of-type(2) {
  width: 1.1em;
  height: 0.9em;

  margin: 2.8em 0em 0em 0em;

  border-bottom: 0.2em solid var(--lego-black);
  border-radius: 1.4em;
}
section:nth-of-type(2) button>div:nth-of-type(4) { /*armen en torso*/
  display: flex;
  flex-direction: row;
}
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(2) { /*torso*/
  background-color: var(--lego-black);
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);

  width: 6em;
  height: 5em;
}
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(1), section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(3) { /*arm en hand*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(1) div:first-of-type{ /*arm links*/
  background-color: var(--lego-black);

  clip-path: polygon(100% 0%, 80% 3%, 72% 10%, 57% 47%, 60% 100%, 93% 100%, 90% 57%, 100% 23%);

  width: 4em;
  height: 3.5em;

  margin: 0.25em -0.7em 0em 0em;

  transform: rotate(6deg);
}
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(1) div:nth-of-type(2) { /*handje links*/
  /* background-color: var(--lego-yellow); */
  width: 2em;
  height: 1.5em;

  border-top: 0.5em solid var(--lego-yellow);
  border-left: 0.5em solid var(--lego-yellow);
  border-right: 0.5em solid var(--lego-yellow);
  border-radius: 10em;

  margin-right: -0.4em;
}
section:nth-of-type(2) button>div:nth-of-type(4)>div:nth-of-type(3) div:first-of-type{ /*arm rechts*/
  background-color: var(--lego-black);

  clip-path: polygon(100% 0%, 80% 3%, 72% 10%, 57% 47%, 60% 100%, 93% 100%, 90% 57%, 100% 23%); /*anders*/

  width: 4em;
  height: 3.5em;

  margin: 0.25em 0em 0em -0.7em;

  transform: rotate(6deg); /*anders*/
  padding-left: none;
}
/********************/
/****ANIMATIES******/
/********************/
/*poppetje1*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*blokje1*/
@keyframes rotate {
  0% {
    transform: rotate3d(0);
    height: 14em;
  }
  50% {
    transform: rotate3d(1, 1, 1, 45deg);
  }
  100% {
    height: 25em;
    border: inset 2.5em;
    border-top: inset 1em;
    border-right: inset 2em;
    border-color: var(--lego-dark-green);
    border-left-color: var(--lego-green);
    border-top-color: var(--lego-green);

    clip-path: polygon(45% 0, 0 0, 0 100%, 42% 100%, 47% 90%, 57% 90%, 52% 100%, 100% 100%, 100% 0, 55% 0, 55% 4%, 45% 4%);
  }
}

@media (min-width:32em) {
  body {height: 100vh;}
  
}
/* ... */